*{
    box-sizing: border-box;
}

body{
    background: url(img/background1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Prompt', sans-serif;
}
main{
    display: flex;
}


nav {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 5rem;
  }
  
  nav img {
    display: flex;
    width: 10rem;
    height: 3rem;
    margin: auto;
  }
  nav ul{
    list-style-type: none;
  }
  
  .wrapper-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5rem;
    width: 100%;
  }
  
  .container {
    overflow: hidden;
    box-shadow: 0px 2px 8px 0px var(--clr-gray-light);
    background-color: white;
    text-align: center;
    border-radius: 1rem;
    position: relative;
    width: 400px;
    height: 350px;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }
  
  .banner-img {
    position: absolute;
    background-image: url(img/cardBackground.jpg);
    height: 10rem;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .profile-img {
    width: 8rem;
    clip-path: circle(60px at center);
    margin-top: 4.5rem;
  }
  
  .name {
    font-weight: bold;
    font-size: 1.5rem;
  }

  .Listed-Items{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .Listed-Items h1{
    color: #ff0022;
    text-shadow: 0 0 3px #ffffff, 0 0 5px #ffffff;
    text-align: center;
  }
  
  
  

