* {
  box-sizing: border-box;
}
body {
  background: url(img/background1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid red;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 5rem;
}
/* nav ul li a {
  padding: 30px;
  text-decoration: none;
  display: inline-block;
  justify-content: center;
  color: red;
} */

nav img {
  display: flex;
  width: 10rem;
  height: 3rem;
  margin: auto;
}
